


@keyframes slowMove {
    0%   {top:50px}
    100%  {top:0px}
}
.personPage{
    animation-name: slowMove ;
    animation-duration: 1s;
}

#sticky-top-people,#sticky-top-person, #sticky-top-dash, #sticky-top-story,#sticky-top-stories,#sticky-top-main{
    top:0;
    transition: top .3s ease-in-out;
}
